<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>laut.fm Radioadmin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/html5-boilerplate-main.css">
        <link rel="stylesheet" href="css/radioadmin.css">

        <script src="js/libs/modernizr-2.8.3.js"></script>
        <script src="js/libs/jquery-2.1.1.js"></script>

        <script src="js/libs/micro-template.js"></script>
        <script src="js/libs/randomColor.js"></script>
        <script src="js/libs/SB.color.js"></script>

        <script src="js/laut.js"></script>
        <script src="js/config.js"></script>
        <script src="js/Observable.js"></script>
        <script src="js/Model.js"></script>
        <script src="js/Collection.js"></script>
        <script src="js/ModelCollection.js"></script>
        <script src="js/View.js"></script>
        <script src="js/SlotModel.js"></script>
        <script src="js/ProgramModel.js"></script>
        <script src="js/SchedulerModel.js"></script>
        <script src="js/ProgramView.js"></script>
        <script src="js/ProgramViewController.js"></script>
        <script src="js/Scheduler.js"></script>
        <script src="js/radioadmin.js"></script>

    </head>
    <body>
        <script type="text/x-micro-tepmlate" id="tpl-column">
            <div class="column"><div class="cell header">
                <%= text %>
            </div></div>
        </script>

        <script type="text/x-micro-tepmlate" id="tpl-slot">
            <div class="cell slot <%= Array.isArray(classes) ? classes.join(' ') : (classes || '') %>"></div>
        </script>

        <script type="text/x-micro-tepmlate" id="tpl-program">
            <div class="program <%= Array.isArray(classes) ? classes.join(' ') : (classes || '') %>"
                 style="background-color:<%= color %>;" data-duration="<%= duration %>" title="<%= title || '' %>">
                <div class="title-wrapper">
                    <span class="title"><%= title || '' %></span>
                </div>
                <div title="Löschen" class="delete"></div>
                <div class="resizer"></div>
            </div>
        </script>

        <!--[if lt IE 9]>
            <p class="browsehappy" style="text-align: center; margin: 0; line-height: 40px; font-size: 20px; border-bottom: 1px solid #333;">
                Dein Browser ist <strong>antik</strong>! Bitte hol dir <a href="http://browsehappy.com/">einen neuen</a>, dann gehts weiter!
            </p>
        <![endif]-->
        <header>
            <nav>
                <ul>
                    <li class="search active"><a href="#">Suche</a>
                    <li class="schedule"><a href="#">Sendeplan</a>
                    <li class="upload"><a href="#">Upload</a>
                    <li class="settings"><a href="#">Einstellungen</a>
                    <li class="stats"><a href="#">Statistik</a>
                </ul>
            </nav>
        </header>

        <div class="content">
            <div class="scheduler" style="margin: 10px; /*just for testing. TODO: remove*/"></div>
        </div>
    </body>
</html>
